{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    
    <div><a href="/">Back to conversations</a></div>
    <ul id="chat-list">
        {% for message in messages %}

            <li>{{ message.getCreatedBy().getDisplayName() == app.user.displayName ? 'me' : message.getCreatedBy().getDisplayName() }}: {{ message.content }}</li>
        
        {% endfor %}
    </ul>

    <div id="writing"></div>

    <div>
        <textarea id="form-message" placeholder="Your public message here"></textarea>
        <input type="button" id="form-submit" value="Send message"/>

    </div>


    <div>Users in conversation:</div>
    <ul>
        {% for user in conversation.getUsers() %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>

    <div>
    {% for conversation in conversations %}

        {% set userUuid = '' %}
        {% if conversation.isChannel == false %}

            {% set channelName = conversation.conversationNameForOwner %}
            {% if conversation.createdBy != app.user %}
                {% set channelName = conversation.conversationNameForGuest %}
            {% endif %}

            {% for userInsideThisConversation in conversation.users.getValues() %}
                {% if userInsideThisConversation != app.user %}
                    {% set userUuid = '<span data-usid=' ~ userInsideThisConversation.id ~ '>[offline]</span>' %}
                {% endif %}
            {% endfor %}
            

        {% else %}

            {% set channelName = conversation.channelName %}

        {% endif %}


        <li>{{ userUuid | raw }}<a href="/conversation/{{ conversation.id }}">{{ channelName }}</a>
    
    {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var clientInformation = {
            payloadType: 'text',
            username: '{{ app.user.username }}',
            wsConversationRoute: 'conversation/{{ conversation.id }}',
            conversationId: {{ conversation.id }},
            displayName: '{{ app.user.displayName }}'
        };
    </script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}