{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/fineuploader.min.css" rel="stylesheet">
    {{ encore_entry_link_tags('conversation') }}
{% endblock %}

{% block body %}
    
    <main>
        <div class="layout">
            {# <div class="navigation">
                <div class="container">
                    <div class="inside">
                        <div class="nav nav-tab menu">
                            <button class="btn">
                                <img class="avatar-xl" src="/avatar.jpg" alt="avatar">
                            </button>
                            <a href="#" data-toggle="tab" class="f-grow1 show active"><i class="material-icons active">chat_bubble_outline</i></a>
                            <a href="#" data-toggle="tab"><i class="material-icons">settings</i></a>
                            <a href="/logout" class="btn power"><i class="material-icons">power_settings_new</i></a>
                        </div>
                    </div>
                </div>
            </div> #}
            <div class="sidebar" id="sidebar">
                <div class="container">
                    <div class="col-md-12">
                        <div class="tab-content">
                            
                            <div id="discussions" class="tab-pane fade active show">
                                <div class="search">
                                    <form class="form-inline position-relative">
                                        <input type="search" class="form-control" id="conversations" placeholder="Search...">
                                        <button type="button" class="btn btn-link loop"><i class="material-icons">search</i></button>
                                    </form>
                                </div>		
                                <div class="discussions">
                                    <h1>
                                        Channels
                                        {% if is_granted('ROLE_MODERATOR') %}
                                            <button class="btn" data-toggle="modal" data-target="#new-channel"><i class="material-icons">add_circle_outline</i></button>
                                        {% endif %}
                                    </h1>
                                    
                                    <ul>
                                        {% for c in conversations.channels %}

                                            {% include 'inc/conversation-item.inc.html.twig' %}
                                        
                                        {% endfor %}
                                    </ul>
                                </div>		
                                <div class="discussions">
                                    <h1>
                                        Conversations
                                        {% if is_granted('ROLE_MODERATOR') %}
                                            <button class="btn" data-toggle="modal" data-target="#new-conversation"><i class="material-icons">add_circle_outline</i></button>
                                        {% endif %}
                                    </h1>
                                    <ul>
                                        {% for c in conversations.direct %}

                                             {% include 'inc/conversation-item.inc.html.twig' %}
                                        
                                        {% endfor %}
        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% include 'inc/message-section.inc.html.twig' %}

            {% include 'inc/create-new-channel.inc.html.twig' %}

            {% include 'inc/create-new-conversation.inc.html.twig' %}
            
        </div> 
    </main>

{% endblock %}
{% block javascripts %}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/fineuploader.min.js"></script>
    <script type="text/javascript">
        var uploader = new qq.FineUploader({
            element: document.getElementById('fine-uploader'),
            request: {
                endpoint: "{{ oneup_uploader_endpoint('gallery') }}",
                params: {
                    conversationId: {{ conversations.current.id }}
                }
            }
        });
        var clientInformation = {
            username: '{{ app.user.username }}',
            wsConversationRoute: 'conversation/{{ conversations.current.id }}',
            conversationId: {{ conversations.current.id }},
            displayName: '{{ app.user.displayName }}',
            isWriting: false
        };
    </script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    {{ encore_entry_script_tags('conversation') }}
{% endblock %}




