{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    {{ parent() }}

    <main>
        <div class="layout">
            <div class="main order-md-1">
                <div class="start">
                    <div class="container">
                        <div class="col-md-12">
                            <div class="content">
                                <h1>Sign in</h1>

                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error.messageKey|trans(error.messageData, 'security') }}
                                    </div>
                                {% endif %}

                                <form action="{{ path('security_login') }}" method="post">

                                    <div class="form-group">
                                        <input type="text" tabindex="1" value="{{ last_username }}" id="inputEmail" name="_username" class="form-control" placeholder="Email / Username" required="">
                                        <button class="btn icon"><i class="material-icons">mail_outline</i></button>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" tabindex="2" name="_password" id="inputPassword" class="form-control" placeholder="Password" required="">
                                        <button class="btn icon"><i class="material-icons">lock_outline</i></button>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">

                                    <button type="submit" tabindex="3" class="btn button">Sign In</button>

                                    <div class="callout">
                                        <span>Don't have account? <a tabindex="4" href="{{ path('security_register') }}">Create Account</a></span>
                                    </div>
                                        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aside order-md-2">
                <div class="container">
                    <div class="col-md-12">
                        <div class="preference">
                            <h2>Hello, Friend!</h2>
                            <p>Enter your personal details and start your journey with Chat today.</p>
                            <a tabindex="5" href="{{ path('security_register') }}" class="btn button">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}