<li 
    class="{{ c.active ? 'active' : '' }}" 
    {% if c.isChannel == false %}
        data-usid="{{ c.userIdInConversation }}"
    {% endif %}

    data-cid="{{ c.id }}"
>
    <a href="{{ c.route }}">
        <div class="user-details">
            {% if c.isChannel == true %}
                {% if c.isChannelPublic == true %}
                    <i class="material-icons">lock_open</i>
                {% else %}
                    <i class="material-icons">lock</i>
                {% endif %}
            {% else %}
                <i class="material-icons">account_circle</i>
            {% endif %}
        </div>
        <div class="user-nickname">
            <span>{{ c.title }}</span> 
            <span class="badge badge-danger">{{ c.unreadedMessages == 0 ? '' : c.unreadedMessages }}</span>
        </div>
    </a>
</li>