<div class="message" data-mgid="{{ messageGroupKeyId }}">
    <div class="text-main">
        <div class="text-profile">
            <img class="avatar-md" src="/avatar.jpg" data-msg-block-id="{{ messageBlock.id }}" data-toggle="tooltip" data-placement="top" title="" alt="avatar" data-original-title="{{ messageBlock.createdBy.displayName }}">
        </div>
        <div class="text-group">
            <div class="text">
                <span><b>{{ messageBlock.createdBy.displayName }}</b> in {{ messageBlock.getCreatedAt|date('d.m.Y - H:i:s')}}</span>
                {% for messageChunk in messageBlock.messages %}

                    {% include 'inc/message-chunk.inc.html.twig' %}
                
                {% endfor %}
            </div>
        </div>
    </div>
</div>